{% extends "base.html" %}
{% block title %} Alta Pelicula {% endblock %}

{% block content %}
<div class="container-fluid"> 
    <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <h1 class="text-center">Formulario alta de peliculas </h1>.
        </div>
    </div>

</div>
    <div class= 'container col-12 mb-5'>
    <form action="/Videoclub/confirmacionAlta/" class="form-control" method="POST"> {% csrf_token %}
        <p>Nombre: <input type="text" name = 'Nombre' class="form-control"> </p>
        <p>Categoria: <input type="text" name = 'Categoria' class="form-control"> </p>
        <p>Descripcion: <input type="text" name = 'Descripcion' class="form-control"> </p>
        <p>Precio: <input type="number" name = 'Precio' class="form-control"> </p>

        <input type="submit" name='Crear'>

    </form>
</div>
{% endblock %}
