{% extends "base.html" %}
{% block title %} Alta exitosa {% endblock %}

{% block content %}


<div class="container-fluid"> 
    <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <h1 class="text-center">Formulario de modificacion de socio</h1>.
        </div>
    </div>

</div>
    <div class= 'container col-12 mb-5'>
    <form action="/Videoclub/modificarEmpleado/" class="form-control" method="POST"> {% csrf_token %}
        <p><input type="hidden" name = 'Id' class="form-control" value = "{{empleado.id}}"> </p>
        <p>nombre: <input type="text" name = 'Nombre' class="form-control" value = "{{empleado.nombre}}"> </p>
        <p>dni: <input type="text" name = 'Dni' class="form-control" value = "{{empleado.dni}}"> </p>
        <p>telefono: <input type="text" name = 'Telefono' class="form-control" value = "{{empleado.telefono}}"> </p>
        <p>email: <input type="email" name = 'Email' class="form-control" value = "{{empleado.email}}"> </p>

        <input type="submit" name='modificar' value="Modificar">

    </form>

</div>

{% endblock %}