{% extends "base.html" %}
{% block title %} Alta exitosa {% endblock %}

{% block content %}


<div class="container-fluid"> 
    <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <h1 class="text-center">Formulario de modificacion de pelicula</h1>.
        </div>
    </div>

</div>
    <div class= 'container col-12 mb-5'>
    <form action="/Videoclub/modificarPelicula/" class="form-control" method="POST"> {% csrf_token %}
        <p><input type="hidden" name = 'Id' class="form-control" value = "{{pelicula.id}}"> </p>
        <p>Nombre: <input type="text" name = 'Nombre' class="form-control" value = "{{pelicula.nombre}}"> </p>
        <p>Categoria: <input type="text" name = 'Categoria' class="form-control" value = "{{pelicula.categoria}}"> </p>
        <p>Descripcion: <input type="text" name = 'Descripcion' class="form-control" value = "{{pelicula.descripcion}}"> </p>
        <p>Precio: <input type="number" name = 'Precio' class="form-control" value = "{{pelicula.precio}}"> </p>

        <input type="submit" name='modificar' value="Modificar">

    </form>

</div>

{% endblock %}